In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [7]:
data_num = 1
root = F'../MRCLAM_Dataset{data_num}/'
n_robots = 5
groundtruth = pd.DataFrame()
for i in range(1, n_robots + 1):
    filepath = root + F'Robot{i}_Groundtruth.dat'
    df = pd.read_csv(filepath, 
                     names=['time', 'x', 'y', 'orientation'],
                     sep="\s+|\t+|\s+\t+|\t+\s+",
                     header=None,
                     comment='#',
                     engine='python')
    df['name'] = F'robot{i}'
    df = df[::100]
    groundtruth = groundtruth.append(df, ignore_index=True)
groundtruth

              time         x         y  orientation    name
0     1.248272e+09  3.573232 -3.332839       2.3408  robot1
1     1.248272e+09  3.573221 -3.332868       2.3409  robot1
2     1.248272e+09  3.573280 -3.332855       2.3410  robot1
3     1.248272e+09  3.573192 -3.332863       2.3410  robot1
4     1.248272e+09  3.509245 -3.280765       2.5221  robot1
...            ...       ...       ...          ...     ...
4349  1.248274e+09  4.247020 -2.378027      -2.2839  robot5
4350  1.248274e+09  4.247059 -2.378027      -2.2842  robot5
4351  1.248274e+09  4.247003 -2.378118      -2.2844  robot5
4352  1.248274e+09  4.247007 -2.378120      -2.2841  robot5
4353  1.248274e+09  4.246978 -2.378158      -2.2843  robot5

[4354 rows x 5 columns]

In [ ]:
fig = px.scatter(groundtruth, x="x", y="y",
           animation_frame="time",
           animation_group="name",
           color="name", hover_name="name",
           range_x=[-2, 6], range_y=[-6, 7])
fig.show()